.card {
  display: flex;
  flex-direction: column;
  background-color: rgb(37, 37, 37);
  border: 1px solid rgb(95, 95, 95);
  border-radius: 12px;
  overflow: hidden;
  height: 100%;
  transition: border-color 0.2s;
}

.card:hover {
  cursor: pointer;
  border-color: #fff;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 14px;
  flex: 1;
}

.card__img--wrapper {
  width: 100%;
  height: 160px;
  overflow: hidden;
  margin: 0;
  position: relative;
}

.card__img--wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.card__content--period-pill {
  display: inline-block;
  background: #1a3a6b;
  color: #95baff;
  font-size: 11px;
  font-weight: 500;
  padding: 3px 10px;
  border-radius: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.card__content--sub-facts {
  display: flex;
  justify-content: start;
  gap: 8px;
}

.card__content--title {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.card__content--period,
.card__content--years {
  font-size: 12px;
  color: #919191;
}

.card__content--fact-pills {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  margin-top: auto; /* pushes pills to bottom of card */
  padding-top: 10px;
}

.fact__pill {
  font-size: 12px;
  padding: 3px 10px;
  border-radius: 20px;
  background: #3a3a3a;
  color: #aaa;
  border: 1px solid #555;
}