.encyclopedia {
   background-color: rgb(30, 30, 30);
}

.encyclopedia__grid {
  display: grid;
  grid-template-columns: 300px 1fr;
  min-height: 100vh;
}

.main__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
